nav{
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-top: 1.7%;
  margin-bottom: 5%;

}

.left-nav{

  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logo{
  display: flex;
  justify-content: flex-start;
  margin-right: 10%;
}
.logo-img{
  width: 55%;
}

.options{
  text-transform: uppercase;
  font-weight:500;
  display: flex;
  align-items: center;
  gap:50px;
  cursor: pointer;
}

.option-stay{
  color:#ffffff;
}

.option-other{
  color:gray;
}

.option-other:hover{
  color:#ffffff;
}

.midia-socials{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}

.img-socials:nth-child(-n + 3){
  width: 4%;
  margin-right: 4%;
  opacity: 0.6;
}

.img-socials:nth-child(4){
  width: 4%;
  opacity: 0.6;
}

.img-socials:hover{
  opacity: 1;
}
