<div [routerLink]="'/post/' + idCard" class="card">
  <div class="image-card">
    <img ngSrc="assets/imagePostExample.jpg" width="300" height="200" alt="" />
  </div>

  <div class="content-card">
    <div class="info-card">
      <p>Abner Silva Barbosa</p>
      <p>20 | jan | 2024</p>
    </div>
    <div class="title-card">
      <h2>UX review presentation</h2>
      <img ngSrc="assets/arrow-top.svg" width="20" height="20" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      excepturi nisi iusto ducimus
    </p>
  </div>
</div>
