<div class="big-card">
  <div class="image-content">
    <img src="../../../assets/slBLxETh.jpeg" alt="" />
  </div>

  <div class="content">
    <p class="data-laucher data-big-card">January 11, 2022</p>
    <h2>Several ways to use bold typography in website design</h2>
    <p class="description-big-card">
      In this article I made a list of things that can be used with bold
      typography in website design. So that bold typography is attractive and
      doesn't distract visually.
    </p>
  </div>
</div>
