.big-card{

}

.image-content{
  height:30em;
}

.image-content > img{
  width: 100%;
  height: 100%;
}



.content > h2{
  color: #ffffff;
  font-size: 37px;
}

.data-big-card{
  margin-top: 2.5%;
}

.description-big-card{
  margin-top: 2%;
  color: #ffffff;
  opacity: 0.6;
  font-size: x-large;
}
