@import "../../style/variables.scss";

.big-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  position: relative;
  margin-bottom: 7%;
  cursor: pointer;
}

img{
  width: 100%;
  z-index: auto;
  transition: all 2s;
  filter: brightness(70%);
}

img:hover{
  filter: brightness(100%);
}

.infors-big-card{
  position: absolute;
  width: 50%;
  z-index: 1;
  left: 4%;
  bottom: 7%;

  .top-info-big-card{
    display: flex;
    color: white;
    margin-bottom: 1%;

    p{
      margin-right: 5%;
    }
  }

  h2{
    margin-bottom: 2%;
  }

  p{
    font-size: 15px;
  }
}


