div{
  padding: 2.5%;
  border-top: 1.5px solid rgba(255, 255, 255, 0.171);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.171);
  display: flex;
  justify-content: center;
}

img{
  width: 100%;
}
