/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

.data-laucher{
  color: white;
  margin-bottom: 2%;
  opacity: 0.5;
}
