<footer>
  <h1>Let'get started on something great</h1>
  <p>I'm a just software enginer, let's go growing together</p>

  <div class="colums-footer">
    <div>
      <h3>Legal</h3>
      <p>Terms</p>
      <p>Privacy</p>
      <p>Cookies</p>
      <p>Licenses</p>
    </div>

    <div>
      <h3>Legal</h3>
      <p>Terms</p>
      <p>Privacy</p>
      <p>Cookies</p>
      <p>Licenses</p>
    </div>

    <div>
      <h3>Legal</h3>
      <p>Terms</p>
      <p>Privacy</p>
      <p>Cookies</p>
      <p>Licenses</p>
    </div>
  </div>

  <div class="infos-footer">
    <h2>Blog Abner</h2>
    <p>@2024 Abner Silva Barbosa. All rights reserved</p>
  </div>
</footer>
