<div>
  <nav>
    <div class="left-nav">
      <div class="logo">
        <img class="logo-img" src="../../../assets/logoorange.png" alt="" />
      </div>

      <div class="options">
        <p class="option-other">Learn</p>
        <p
          class="option-other"
          [routerLink]="'/'"
          [routerLinkActive]="['option-stay']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Blog
        </p>
        <p class="option-other">Bookmarks</p>
        <p class="option-other">Ui kit</p>
        <p class="option-other">Lain Nya</p>
      </div>
    </div>

    <div class="midia-socials">
      <img class="img-socials" src="../../../assets/icon_twitter.svg" alt="" />
      <img
        class="img-socials"
        src="../../../assets/icon_instagram.svg"
        alt=""
      />
      <img class="img-socials" src="../../../assets/icon_dribbble.svg" alt="" />
      <img class="img-socials" src="../../../assets/icon_medium.svg" alt="" />
    </div>
  </nav>
</div>
